@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

.mobile {
  display: none;
}
#body {
  background-color: #161616;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
#loginForm {
  width: 80%;
  height: 85vh;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}

.login-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.image,
.form-container {
  height: 100%;
  width: 50%;
}

.image {
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("/planet-1702788_1920.jpg");
}

.image-content h2 {
  font-size: 2.9rem;
  font-weight: bolder;
}
.image-content p {
  font-size: 1rem;
  max-width: 400px;
  margin-inline: auto;
  color: #ffffffd0;
}
.image-content p a {
  color: #4b57ff;
}
.form-container {
  background-color: #ffffffea;
  display: grid;
  place-content: center;
  border-radius: 0px 10px 10px 0px;
}

.form-title {
  margin-bottom: 10px;
  margin-left: 4px;
}

.form-title h4 {
  font-size: 2.5rem;
  color: #4b57ff;
  font-weight: bolder;
}

.secondInput {
  margin-top: 15px;
}
.input div:last-child {
  display: flex;
  align-items: center;
  border: 2px #4b57ffbb solid;
  width: 470px;
  background-color: #ffffff73;
  border-radius: 20px;
}
.input div:last-child span {
  transform: scale(1.2);
  color: #4b57ffaf;
  margin-left: 5px;
}

.input label {
  color: #333;
  margin-left: 6px;
  margin-bottom: 2px;
}
.input input {
  width: 100%;
  border: none;
  font-size: 1rem;
  color: #161616;
  height: 45px;
  margin-left: 10px;
  background-color: #ffffff73;
  border-radius: 20px;
}
.input input:focus {
  outline: none;
}

.writeErr {
  color: red;
  font-size: 0.95rem;
  margin-left: 8px;

}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 6px;
}

.form-actions .left label {
  color: #0011fa;
}

.form-actions .right a {
  color: #33333363;
}

.form-button button {
  width: 165px;
  height: 50px;
  margin-top: 15px;
  border-radius: 100px;
  background-color: #4b57ff;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  transition: all 0.4s;
}
.form-button button:hover {
  background-color: #2130fd;
}
.form-social-media {
  display: flex;
  align-items: center;
  margin-top: 15px;
  text-align: center;
}

.form-social-media .fb,
.form-social-media .google {
  width: 50%;
}
.form-social-media div button {
  width: 98%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  transition: 0.3s;
}

.form-social-media .fb button {
  background-color: #404cfd;
}

.form-social-media .fb button:hover {
  background-color: #1a29f8;
}
.form-social-media .google button {
  border: 2px solid #000000cb;
  color: #333;
}

.form-social-media .google button:hover {
  background-color: #000000cb;
  color: #fff;
}
.form-social-media .google button i {
  color: #333;
}

@media only screen and (max-width: 1279px) {
  #loginForm {
    width: 94%;
  }

  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    width: 90%;
  }
  .form-title h4 {
    font-size: 2.2rem;
  }
  .input div:last-child {
    margin-inline: auto;
    width: 100%;
  }

  .input input {
    height: 43px;
  }

  .form-actions {
    margin-left: 6px;
    margin-right: 6px;
  }
  .form-button button {
    height: 45px;
    width: 145px;
  }

  .form-social-media {
    flex-direction: column;
  }

  .form-social-media {
    width: 100%;
    margin-inline: auto;
  }
  .form-social-media .fb,
  .form-social-media .google {
    width: 100%;
    margin-top: 6px;
  }

  .form-social-media div button {
    width: 100%;
    height: 45px;
  }
}

@media only screen and (max-width: 1023px) {
  #loginForm {
    width: 96%;
  }
  .image-content h2 {
    font-size: 2.1rem;
  }

  .image-content p {
    font-size: 0.95rem;
    max-width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  #body {
    position: initial;
    left: 0;
    top: 0;
    transform: translate(0%, 0%);
  }
  #loginForm {
    height: initial;
  }
  .mobile {
    display: block;
  }

  .image {
    display: none;
  }

  .form-container {
    width: 100%;
    background-color: initial;
  }

  .form-logo {
    width: 100%;
  }

  .form-logo img {
    width: 90%;
    height: 130px;
    object-fit: contain;
  }
  .input label {
    color: #fff;
  }
  .input input {
    background: #000000cb;
    height: 50px;
    color: #fff;
  }
  .input div:last-child {
    background-color: #000000cb;
    border: 2px solid #4b57ff;
  }

  footer {
    background-color: #333;
    text-align: center;
    display: grid;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
  }
}


@media only screen and (max-width: 499px) {
  .form-actions  {
    flex-direction: column;
  }
}